# Gleaning Public Health Data

## Preparatory work

 The first step of gleaning a pinpointed section of data from a much larger and more intimidating dataset is to import the pandas packages in order to make your data much more easy to manipulate than it would otherwise be.  To import these packages, use the following method:

In [3]:
import numpy as np
import pandas as pd

 Secondly, one needs to import the larger public data file that they wish to work with by defining it as pd.  From there, the pandas packages will be able to translate the comma seperated data into a dataframe object.  To do so, use the following code with the specific file name inbetween the parentheses:

In [4]:
df=pd.read_csv("CountyHealthData_2014-2015-1.csv")

## Excecution

### Filtering by State

There are two ways one could trim such a large file in order to better understand data of differing degreees.  The first is through filtering our data using the operating system's true or false analysis.  In the given example from the "County Health Data", the larger data set is filtered through this specific code by reading whether it is true or not that the "State" column in each row reads "OH" or not.  This helps us glean the data only from the state of Ohio.

In [5]:
OH_subset = df[df["State"] == "OH"].copy()

This line simply takes the command defined in the previous line of code that checks whether or not data is coming from the state of Ohio or not and executes the command.  The data which came back as true is then presented in table form just as the larger dataset that came before it.

In [6]:
OH_subset

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
3974,OH,Midwest,East North Central,Adams County,39001,39001,Region 27,1/1/2014,10788.0,0.196,...,22.53,0.202,0.074,11586.0,0.230,18.0,34955,0.491,8.51,NaN
3975,OH,Midwest,East North Central,Adams County,39001,39001,Region 27,1/1/2015,11040.0,0.196,...,25.54,0.204,0.066,11199.0,0.230,18.0,37259,0.499,9.60,NaN
3976,OH,Midwest,East North Central,Allen County,39003,39003,Region 27,1/1/2014,7003.0,0.155,...,6.03,0.162,0.056,10260.0,0.101,88.0,42173,0.439,4.15,0.177
3977,OH,Midwest,East North Central,Allen County,39003,39003,Region 27,1/1/2015,6849.0,0.155,...,7.79,0.174,0.047,10413.0,0.101,103.0,43274,0.459,5.00,NaN
3978,OH,Midwest,East North Central,Ashland County,39005,39005,Insuff Data,1/1/2014,6952.0,0.133,...,6.98,0.183,0.073,8588.0,NaN,28.0,44748,0.332,NaN,0.182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4145,OH,Midwest,East North Central,Williams County,39171,39171,Region 30,1/1/2015,6228.0,0.170,...,6.39,0.160,0.055,9547.0,0.083,24.0,45510,0.269,NaN,NaN
4146,OH,Midwest,East North Central,Wood County,39173,39173,Region 7,1/1/2014,5471.0,0.135,...,6.40,0.131,0.056,9739.0,0.109,27.0,50534,0.287,1.26,0.221
4147,OH,Midwest,East North Central,Wood County,39173,39173,Region 7,1/1/2015,5505.0,0.135,...,7.15,0.138,0.050,9838.0,0.109,31.0,52578,0.308,1.80,NaN
4148,OH,Midwest,East North Central,Wyandot County,39175,39175,Region 27,1/1/2014,7526.0,0.118,...,6.29,0.167,0.068,8549.0,NaN,13.0,46327,0.262,NaN,NaN
4149,OH,Midwest,East North Central,Wyandot County,39175,39175,Region 27,1/1/2015,6472.0,0.118,...,7.56,0.162,0.063,9504.0,NaN,18.0,46568,0.261,NaN,NaN

### Filtering by state and data type.

The following code specifies both the rows and columns that one wants to look at by calling the specific rows in integer form with a colon inbetween (in this example the rows called are all those including and between rows 4001 and 4010).  The loc function comes into play when it comes to the columns section that is specified by strings rather than integers.  In this example, the strings "State", "High school graduation", "Unemployment", and "Income inequality" are the only columns specified and will therefore, in spite of the numerous other columns in the original dataset, be the only ones conjured.

In [7]:
OH_subset.loc[4001:4010,["State", "High school graduation", "Unemployment", "Income inequality"]]

     State  High school graduation  Unemployment  Income inequality
4001    OH                   0.912         0.100              4.388
4002    OH                   0.786         0.080                NaN
4003    OH                   0.793         0.081              4.376
4004    OH                   0.923         0.099                NaN
4005    OH                   0.887         0.096              4.260
4006    OH                   0.883         0.087                NaN
4007    OH                   0.894         0.088              3.842
4008    OH                   0.712         0.073                NaN
4009    OH                   0.736         0.077              5.540
4010    OH                   0.912         0.067                NaN

This final section defines Final_OH as the edited table that we see above.  We will then take this final object and export it as a CSV file.

In [9]:
Final_OH = OH_subset.loc[4001:4010,["State", "High school graduation", "Unemployment", "Income inequality"]]

In [36]:

Final_OH.to_csv("OH_subset.csv")